@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: black;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;

}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-320px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0.2;
    transform: translateY(-320px);
  }
}

.animate-fade-in-down {
  display: block;
  animation-name: fade-in-down;
  animation-duration: 0.2s;
}

.animate-fade-in-up {
  animation-name: fade-in-up;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}